@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: Helvetica_Regular;
  src: url('../../public//fonts/Helvetica-Regular.ttf');
  font-weight: 900;
}
@font-face {
  font-family: Helvetica_Bold;
  src: url('../../public//fonts/Helvetica-Bold.ttf');
  font-weight: 900;
}

.Helvetica_Regular{
  font-family: Helvetica_Regular, sans-serif ;
}

.Helvetica_Bold{
  font-family: Helvetica_Bold, sans-serif ;
  font-weight: 900;
}

body {
  position: relative;
  background-color: black;
}
#cat_box .slick-next{
  right: 10px;
  z-index: 10;
}
#cat_box .slick-prev {
  left: 10px;
  z-index: 10;
}
#cat_box .slick-arrow {
  background-color: black;
  border-radius: 100%;
}
#cat_box .slick-dots li.slick-active button:before{
  color: #ffffff;
}
#cat_box .slick-dots li button:before{
  color: #ffffff;
}